.home {
  .home_contents {
    padding: 10em 0 20em 0;
    justify-content: space-evenly;
    .home_text {
      .home_title {
        span {
          font: 9rem $Vibe;
          color: $darkpurple;
        }
        :nth-child(2) {
          margin-left: 0.7em;
        }
      }
      .home_hireme {
        margin: 0 auto;
        margin-top: 6.5em;
      }
    }
    .home_pics {
      img {
        height: 800px;
        width: 700px;
      }
      margin-left: 8em;
    }
  }
  .home_message {
    margin-bottom: 7em;
    p {
      position: relative;
      text-align: center;
      font: 500 1.5rem $Pop;
      line-height: 1.3;
      color: $darkgrey;
    }
    p::before {
      content: "";
      display: flex;
      width: 35%;
      height: 2px;
      background-color: $red;
      position: absolute;
      top: 50%;
      left: 0;
    }
    p::after {
      content: "";
      display: flex;
      width: 35%;
      height: 2px;
      background-color: $red;
      position: absolute;
      top: 50%;
      right: 0;
    }
  }
}
