.work {
  margin-top: 10.5em;
  margin-bottom: 15.5em;
  .our_work_text {
    h6 {
      font: 500 1.25rem $Pop;
      color: $darkgrey;
      margin-left: 3em;
      position: relative;
    }
    h6::before {
      margin-left: -3em;
      content: "";
      position: absolute;
      display: flex;
      background: $darkgrey;
      top: 50%;
      left: 0;
      height: 2px;
      width: 50px;
    }
  }
  .fixed_block {
    margin-top: 10em;
    position: relative;
    width: 500px;
    height: 2500px;
    .fixed_block_contents {
      margin-top: 10em;
      margin-right: 65px;
      position: sticky;
      top: 20%;
      left: 40%;
      text-align: center;
      transform: translate(20%, -40%);
      .icono-arrow1 {
        color: $red;
        &::before {
          width: 150px;
        }
      }
      .back_to_top {
        margin-top: 10em;

        a {
          color: $red;
          font: 400 0.75rem $Pop;
          letter-spacing: 1.5px;
        }
      }
    }
  }
  .work_contents {
    margin-top: 7em;
    .work_samples {
      .sample {
        margin-bottom: 15em;
        .date_of_pic {
          margin-left: 5em;
          color: $darkgrey;
          font: 500 1.125rem $Pop;
          transform-origin: 0 0;
          transform: rotate(-90deg);
          margin-top: 15em;
        }
        .work_grid {
          margin-left: 5em;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
        }
        .work_grid_1 {
          .pic_number {
            color: $darkgrey;
            opacity: 0.8;
            font: 400 2.25rem $Pop;
            margin-bottom: 0.5em;
          }
          .pic_heading {
            color: $darkpurple;
            font: 9rem $Vibe;
          }
        }
        .work_grid_2 {
          p {
            margin-top: 3em;
            width: 70%;
            color: $lightpurple;
            font: 400 1.5rem $Pop;
          }
        }
        .work_grid_3 {
          grid-row: 1/3;
          grid-column: 2/3;
          .pic_image {
            margin-top: 7em;
            width: 100%;
          }
        }
      }
    }
  }
  .work_message {
    margin-top: 10em;
    margin-bottom: 7em;
    p {
      position: relative;
      text-align: center;
      font: 500 1.5rem $Pop;
      line-height: 1.3;
      color: $darkgrey;
    }
    p::before {
      content: "";
      display: flex;
      width: 35%;
      height: 2px;
      background-color: $red;
      position: absolute;
      top: 50%;
      left: 0;
    }
    p::after {
      content: "";
      display: flex;
      width: 35%;
      height: 2px;
      background-color: $red;
      position: absolute;
      top: 50%;
      right: 0;
    }
  }
}
