.contact {
  margin-top: 10em;
  .contact_sections {
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    .contact_section1 {
      padding: 3em 0;
      span {
        font: 9rem $Vibe;
        color: $darkpurple;
      }
      p {
        width: 50%;
        font: 400 1.5rem $Pop;
        color: $darkgrey;
        margin-left: 1em;
      }
    }
    .contact_section2 {
      padding: 3em 0;
      .contact_section2_contents {
        width: 25rem;
      }
      .red_line {
        height: 2px;
        width: 25rem;
        background-color: $red;
        margin-bottom: 2em;
      }
      .contact_buttons {
        button {
          margin: 3em 0 0 0;
          width: 17rem;
          display: inline-block;
          padding: 1.25em 3em;
          color: $white;
          background-color: $red;
          font: 600 1.125rem $Pop;
          border: none;
          transition: 0.6s;
        }
        button:hover {
          cursor: pointer;
          width: 18rem;
          transition: 0.6s;
        }
        .stylish::before {
          padding: 1.25em 3em;
        }
      }
    }
    .contact_section3 {
      margin-top: 6em;
      // background-color: red;
      grid-row: 1/3;
      grid-column: 2/3;

      form {
        .input_field {
          width: 90%;
          margin: 3.5em 0 0 0;
          background-color: $white;
          border: 1px solid $darkgrey;
          padding: 1em 2.5em;
          color: $darkgrey;
          font: 400 1rem $Pop;
        }
        .input_name {
          margin-bottom: -1em;
          width: 90%;
          justify-content: space-between;
        }
        .input_name_text {
          width: 45%;
        }
        ::placeholder {
          color: $grey;
          font: 400 1.125rem $Pop;
        }
        .checkbox {
          display: block;
          position: relative;
          padding: 5em 0 3em 0;
          .label_text {
            color: $darkgrey;
            font: 400 1.125rem $Pop;
            margin-top: -0.5em;
            margin-left: 3em;
            a {
              color: $red;
              cursor: pointer;
            }
          }
          .custom_checkbox {
            display: block;
            position: relative;
            margin-left: 0;
            input {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0;
            }
            .checkmark {
              position: absolute;
              top: 50%;
              left: 1.5%;
              transform: translate(-50%, -1.5%);
              height: 25px;
              width: 25px;
              background-color: $white;
              border: 1px solid $darkgrey;
            }
          }
          .custom_checkbox:hover input ~ .checkmark {
            background-color: $darkgrey;
          }
          .custom_checkbox input:checked ~ .checkmark {
            background-color: $red;
          }
        }
        button {
          display: block;
          align-self: center;
        }
      }
    }
  }
}
