footer {
  margin-top: 10em;
  min-height: 500px;
  background-color: $darkgrey;
  .col {
    min-height: 500px;
    justify-content: space-around;
    .footer_logo {
      span {
        color: $white;
        font: 600 2.25rem $Pop;
      }
    }
    .footer_links {
      margin-left: 3em;
      a {
        padding: 0 4em;
        color: $white;
        font: 400 1rem $Pop;
        transition: 0.6s;
      }
      a:hover {
        color: $red;
        transition: 0.6s;
      }
    }
    .footer_policies {
      a {
        padding: 0 3em;
        color: $grey;
        font: 400 0.75rem $Pop;
      }
    }
    .footer_copyright {
      span {
        color: $grey;
        font: 400 0.75rem $Pop;
      }
    }
  }
}
