//1368px
@media (max-width: $surfacepro) {
  header {
    .header_contents {
      .logo {
        span {
          font-size: 5rem;
        }
      }
      .nav-links {
        .link {
          margin: 0 4.5em;
        }
      }
    }
  }
  .home {
    .home_contents {
      justify-content: center;
      margin-right: 1em;
      .home_pics {
        display: none;
      }
    }
    .home_message {
      display: none;
    }
  }
}

// 768px
@media (max-width: $ipadmini) {
  header {
    .header_contents {
      .logo {
        span {
          font-size: 3.5rem;
        }
      }
      .nav-links {
        .link {
          display: inline-block;
          margin: 0 2.7em;
        }
      }
    }
  }
  .home {
    .home_contents {
      .home_text {
        .home_title {
          span {
            font-size: 7rem;
          }
        }
      }
    }
  }
}

// 414px
@media (max-width: $iphone11promax) {
  header {
    .header_contents {
      .logo {
        span {
          font-size: 2.5rem;
        }
      }
      .nav-links {
        .link {
          font-size: 0.85rem;
          margin: 0 1.75em;
        }
      }
    }
  }
  .home {
    .home_contents {
      padding: 0em 0 5em 0;

      .home_text {
        .home_title {
          span {
            font-size: 6rem;
          }
        }
        .home_hireme {
          margin-top: 4em;
        }
      }
    }
  }
}
