.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.h-center {
  justify-content: center;
}

.v-center {
  align-items: center;
}

.center {
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 1800px;
  margin: 0 auto;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dot {
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

.bg-prop {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

[class*="icono"] {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: red;
  box-sizing: border-box;
  transform: rotate(-45deg);
  &:after,
  &:before {
    content: "";
    box-sizing: border-box;
  }
}
[class*="icono-arrow1"] {
  width: 25px;
  height: 25px;
  border-width: 1px 1px 0 0;
  border-style: solid;
  &:before {
    right: 1px;
    top: 0px;
    position: absolute;
    height: 1px;
    box-shadow: inset 0 0 0 1px;
    transform: rotate(-45deg);
    width: 23px;
    transform-origin: right top;
  }
}

.stylish {
  position: relative;
  display: block;
  color: $white;
  font: 600 1rem $Pop;
  padding: 0.75em 3.5em;
  background-color: $red;
  transition: all 0.6s ease-in;
  text-align: center;
  border: none;
}
.stylish::before {
  content: attr(data-text);
  padding: 0.75em 3.5em;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: $red;
  background-color: white;
  transform-origin: bottom;
  transform: translateY(-100%) rotateX(90deg);

  transition: all 0.6s ease-out;
}
.stylish:hover::before {
  transform: translateY(0%) rotateX(0deg);
}
