//importing fonts

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@400;500;600&display=swap");

// colors

$darkgrey: #181818;
$red: #ff5d51;
$darkpurple: #2f1f2b;
$lightpurple: #685268;
$cream: #ffebd9;
$grey: #929292;
$black: #000000;
$white: #ffffff;

// fonts

$Vibe: "Great Vibes";
$Pop: "Poppins";

// breakpoints

$surfacepro: 1368px;
$ipadmini: 768px;
$iphone11promax: 414px;
$tab: 800px;
$phone: 500px;
