//importing fonts

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@400;500;600&display=swap");

// colors

$darkgrey: #181818;
$red: #ff5d51;
$darkpruple: #2f1f2b;
$lightpruple: #685268;
$cream: #ffebd9;
$grey: #929292;
$black: #000000;
$white: #ffffff;

// fonts

$Vibe: "Great Vibes";
$Pop: "Poppins";

// breakpoints

$desktop: 1500px;
$minidesktop: 1100px;
$bigtab: 938px;
$tab: 800px;
$phone: 500px;
