//importing fonts

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat:wght@400;700&display=swap");
// colors
$yellow: #f9c846;
$grey: #1b1b1b;
$red: #f0544f;
$black: #000000;
$white: #ffffff;

// fonts

$Mont: "Montserrat";
$Josh: "Josefin Sans";

// breakpoints

$desktop: 1500px;
$minidesktop: 1100px;
$bigtab: 938px;
$tab: 800px;
$phone: 500px;
