// importing partials

@import "./variables";
@import "./utilities";
@import "./classes";

// importing sass components

@import "./components/01\ header.scss";
@import "./components/02\ home.scss";
@import "./components/03\ work.scss";
@import "./components/04\ contact.scss";
@import "./components/05\ footer.scss";
@import "./components/06\ media\ queries.scss";

body,
html {
  visibility: hidden;
  background-color: $cream;
}
